:root{
    /* Color styles */
--black: #1F1F1F;
--blue: #3A6DE7;
--light-grey: #BEBCBB;
--dark-grey:#363636;
--dark-blue: #161C3B;
--red: #CD3D0F;
--lavish-white: #D9DADC;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.mybg-black{
    background-color: var(--black);
}

.mybg-light-grey{
    background-color: var(--light-grey);
}

.mybg-dark-blue{
    background-color: var(--dark-blue);
}

.mybg-blue{
    background-color: var(--blue);
}

#hero{
    height: 60vh;
    background-image: url('../img/jumbo-bg.png');
    background-position: center ;
    background-size: cover;
}

.bg-news h2, p{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:var(--dark-grey);
}

#hero img{
    margin-top: 150px  ;
}

img{
    max-width: 100%;
}

.overlay:hover{
    border: 1px solid var(--blue);
    border-spacing: 10px ;
    border-radius: 10px;
    border-collapse: separate;
}

.bg-news{
    height: 70vh;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center ;
    background-size: cover;
}

.plus{
    background-image: url('../img/ps-plus-april-monthly-games-featured-image-block.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain; 
}