:root{
    /* Color styles */
--black: #1F1F1F;
--blue: #3A6DE7;
--light-grey: #BEBCBB;
--dark-grey:#363636;
--dark-blue: #161C3B;
--red: #CD3D0F;
--lavish-white: #d9dadcd3;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.mybg-black{
    background-color: var(--black);
}

.mybg-light-grey{
    background-color: var(--light-grey);
}

.mybg-dark-blue{
    background-color: var(--dark-blue);
}

.mybg-blue{
    background-color: var(--blue);
}

#hero{
    padding-bottom: 10vh;
    padding-top: 20vh;
    background-image: url('../img/jumbo-bg.png');
    background-position: center ;
    background-size: cover;
}

.bg-news h2, p{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:var(--dark-grey);
}

#hero img{
    margin-top: 150px  ;
}

img{
    max-width: 100%;
}



.bg-news{
    padding-bottom: 10vh;
    padding-top: 10vh;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center ;
    background-size: cover;
}

#nuove-uscite img{
    filter: blur(10px);
    /* filter: saturate(0%);   */
    transition: 0.5s;
}

#nuove-uscite img:hover{
    filter: blur(0px);
     
}

#carousel .carta{
    cursor: pointer;
    
    transition: 1s;
}

#carousel .carta:hover{
    
    transform: rotateY(360deg);
    
}

.overlay{
    border-bottom: 2px solid transparent;
    cursor: pointer;
    filter: opacity(0.5);
}

.overlay:hover{
    filter: opacity(100);
    border-bottom: 2px solid var(--blue);
    
}

.social{
    cursor: pointer;
    transition: 1s;
}

#scl .social:hover{
    border-radius: 200px;
}

.disclaimer{
    opacity: 0 ;
    background-color: var(--dark-blue);
    border-radius: 15px;
    padding: 1rem;
    width: 40%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 33px 1px rgba(255,255,255,1);
    transition: 0.8s; 
    z-index: 100;  
}


.sales:hover  .disclaimer{
    opacity: 1;
    
}

.sales:hover .sales-img{
    filter: blur(10px);
}